body {
  padding: 150px;
}

.box {
  width: 150px;
  height: 150px;
  margin: 25px;
  border: 1px solid black;
  float: left;
}

.box-1 {
  background-color: aquamarine;
}

.box-2 {
  background-color: brown;
}

.box-3 {
  background-color: bisque;
}

.box-1 {
  border-color: #30e930;
  color:#630063
}

.box-2 {
  border-color: #808080;
  color: #ffffff;
}

.box-3 {
  border-color: #0000ff;
  color: #ff0000;
}