a {
  color: green;
}

i {
  color: red;
}

.line{
  text-decoration: underline;
}

.links a {
  text-decoration: none;
}

p .line {
color: grey;
}

b {
  color: purple;
}

.odd .line {
  color: blue;
}

.odd i {
  text-decoration: underline;
} 

b .even {
  text-decoration: underline;
} 

.desc .line {
  color: aquamarine;
}

a [href^="http://"] {
  color: red;
}

a [href$=".com/"] {
  color: black;
  text-decoration: underline;
}
